doctype 5
html(lang="en")
head
	meta(charset="UTF-8")
	title
	link(rel='stylesheet', href='/vendor/bootstrap....')
	link(rel='stylesheet', href='/vendor/bootstrap....')
body
	nav.navbar.navbar-inverse

	script(src="http://code.jquery....")
	script(src="public/vendor/bootstrap....")